.root-container {
  margin-top: 90px;
}

/* Toolbar */
.toolbar-container {
  width: 75px;
  /* display: inline; */
  border: 1px solid black;
  padding-left: 12px;
  padding-top: 30px;
}

.toolbar-item {
  width: 50px;
  height: 50px;
  text-align: center;
}

.toolbar-item .trash:hover {
  cursor: pointer;
}

/* Layout */
.home-layout {
  display: flex;
}

.home-layout .left {
  flex: 0 0 9%;
}

.home-layout .right {
  flex: 1;
}
